
<div class="container">
    <div class="row">
        <div class="col" *ngFor="let heroe of heroes; let i=index">
            <div class="card" >
                <img class="card-img-top" [src]="heroe.imagen" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{i+1}}. {{heroe.nombre}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>
